<!doctype html>
<title>Hello from Flask</title>


<iframe src="http://data.worldbank.org/share/widget?end=2015&indicators=SH.H2O.SAFE.ZS&start=2015&view=map&year=2005" width='600' height='400' frameBorder='0' scrolling="no" />

<iframe src="http://www.slideshare.net/slideshow/embed_code/16292321?rel=0" width="512" height="421" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>

 <div style="margin-bottom:5px"> <strong> <a href="http://www.slideshare.net/WorldResources/aqueduct-measuring-mapping-and-understanding-water-risks-around-the-globe" title="Aqueduct: Measuring, mapping &amp; understanding water risks around the globe" target="_blank">Aqueduct: Measuring, mapping &amp; understanding water risks around the globe</a> 

 </div>
