<!doctype html>
<html>
<style>
#wrapper {
    width: 100%;
    overflow: hidden;
}

#first {
    width: 25%;
    float: left;
    /* border: 1px solid red;*/
}

#viz1477801475948 {
    width: 50%;
    /* border: 1px solid green;*/
    float: right;
}
</style>

<head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
    {{ script | safe }}
</head>

<body>
    <h2>Top 10 countries with the most population without access to improved source of water</h2>
    <p> The graph in left shows the top 10 countries ranked based on (1- % of population with improved source of water) * population of each countries <a href="http://data.worldbank.org/indicator/SH.H2O.SAFE.ZS">from worldbank.org
        </a>. <br><br>You could see the countries with low improved source of water ( high % of population without access to water) in the right.
    </p>
    <div id="wrapper">
        <div id="first" class=page>
            <br> {{ div | safe }}
        </div>
        <div class='tableauPlaceholder' id='viz1477801475948' style='position: relative'>
            <noscript>
                <a href='#'><img alt='Improve watersource ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Im&#47;Improvewatersource&#47;Improvewatersource&#47;1_rss.png' style='border: none' /></a>
            </noscript>
            <object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='site_root' value='' />
                <param name='name' value='Improvewatersource&#47;Improvewatersource' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Im&#47;Improvewatersource&#47;Improvewatersource&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
            </object>
        </div>
        <script type='text/javascript'>
        var divElement = document.getElementById('viz1477801475948');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '100%';
        vizElement.style.height = (divElement.offsetWidth ) + 'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
    </div>
</body>

</html>