<!doctype html>
<title>Improve Water source</title>
<!-- <iframe src="http://data.worldbank.org/share/widget?end=2015&indicators=SH.H2O.SAFE.ZS&start=2015&view=map&year=2005" width='800' height='500' frameBorder='0' scrolling="no" /> -->
<div class='tableauPlaceholder' id='viz1477801475948' style='position: relative'>
    <noscript>
        <a href='#'><img alt='Improve watersource ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Im&#47;Improvewatersource&#47;Improvewatersource&#47;1_rss.png' style='border: none' /></a>
    </noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='site_root' value='' />
        <param name='name' value='Improvewatersource&#47;Improvewatersource' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Im&#47;Improvewatersource&#47;Improvewatersource&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
    </object>
</div>
<script type='text/javascript'>
var divElement = document.getElementById('viz1477801475948');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width = '75%';
vizElement.style.height = (divElement.offsetWidth * 0.4) + 'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<div class='tableauPlaceholder' id='viz1477792644337' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='Sheet 3 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BaselineWaterStress&#47;Sheet3&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='site_root' value='' />
        <param name='name' value='BaselineWaterStress&#47;Sheet3' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ba&#47;BaselineWaterStress&#47;Sheet3&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
    </object>
</div>
<script type='text/javascript'>
var divElement = document.getElementById('viz1477792644337');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width = '75%';
vizElement.style.height = (divElement.offsetWidth * 0.4) + 'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<div class='tableauPlaceholder' id='viz1477793303120' style='position: relative'>
    <noscript>
        <a href='#'><img alt='Sheet 4 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;Population_89&#47;Sheet4&#47;1_rss.png' style='border: none' /></a>
    </noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='site_root' value='' />
        <param name='name' value='Population_89&#47;Sheet4' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;Population_89&#47;Sheet4&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
    </object>
</div>
<script type='text/javascript'>
var divElement = document.getElementById('viz1477793303120');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width = '75%';
vizElement.style.height = (divElement.offsetWidth * 0.4) + 'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<div class='tableauPlaceholder' id='viz1477789454945' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt='Sheet 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Im&#47;Improvewatersupplier&#47;Sheet2&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='site_root' value='' />
        <param name='name' value='Improvewatersupplier&#47;Sheet2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Im&#47;Improvewatersupplier&#47;Sheet2&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
    </object>
</div>
<script type='text/javascript'>
var divElement = document.getElementById('viz1477789454945');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width = '75%';
vizElement.style.height = (divElement.offsetWidth * 0.4) + 'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>